<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fl.mlkit.text.recognize">

    <application>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <!-- To use multiple models: android:value="ocr,model2,model3" -->
    </application>
</manifest>
